#search-form{
  box-sizing: border-box;
}
.header-rate-result{
  font-size: 22px;
}
label{
  display: inline-block;
}
.round-rate-calculate, .round-dimension-result, .round-dimension-result-even, textarea{
  border: 1px solid blue;

  padding: 5px;
}

.col-md-6{
  display: inline;
}
.search-dimension-result{
  display: inline-flex;
  position: relative;
}
.satuan-dimension-result-days, .satuan-dimension-result, .satuan-dimension{
  padding: 6px;
  color: #fff;
  background-color: #0202FF;
  border-radius: 0 5px 5px 0;
}

#rcorners-calculate-result{
  display: none;
}
