@font-face {
    font-family: 'swanse';
    src: url(../.././wahana/fonts/swans.ttf);
}
/*
 * Globals
 #fff200
 */
 .fa-bars{
   color: white !important;
 }
 .hvr-sweep-to-right2 {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   -webkit-transition-property: color;
   transition-property: color;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
 }
 .hvr-sweep-to-right2:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #fff200;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transform-origin: 0 50%;
   transform-origin: 0 50%;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
 }
 .hvr-sweep-to-right2:hover, .hvr-sweep-to-right2:focus, .hvr-sweep-to-right2:active {
   color: black;
   border-radius: 20px 0px 20px 0px;
 }
 .hvr-sweep-to-right2:hover:before, .hvr-sweep-to-right2:focus:before, .hvr-sweep-to-right2:active:before {
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.btn-agen, .btn-agen:hover, .btn-agen:active {
  width: 100%;
  border: 1px solid #ff0200 !important;
  color: white;
  font-weight:bold;
}
.btn-index{
  background-color: red;
  color: white;
}
.btn-submit{
  width:auto;
  border: 1px solid #ff0200 !important;
  color: white;
  font-weight:bold;
}

/* Custom position Maps */
#agentloc-map-container{
  height: 335px;
}

/* Custom Banner */
.img-banner{
  width:100%;
  height:-moz-calc(100% - 50%);
}

/* Custom peluang_bisnis  */
.col-container{
  display: table;
  width: 100%;
  height: 70%;
}
.col-l{
  display: table-cell;
  width: 15%;
  padding-top: 15px;
  color: white;
  background:#0003fc;
  border-right: 1px solid #fff200;
  border-radius: 20px 0 20px 0;
}

/* Custom faq page */
.faq-header {
  font-size: 20px;
  font-weight: 500;
}
.faq-subheader{
  font-size: 18px;

}
.faq-answer{
  font-size: 18px;
  color: black;
}
@media only screen and (max-width: 600px) {
  .col-container{
    display: block;
  }
    .col-l{
      width: 100%;
      display: inline-block;
      border: 1px solid yellow;
    }
}

/* Custom hover.css */
.hvr-sweep-to-right::before{
  background: #0202ff !important;
}

/* Image navbar wahana */
.navbar-brand img{
  height: 2em;
  /*background-color: #fff200;*/
  padding: 1px;
}

/*
 * Base structure
 */

html {
  height: 100%;
  background-color: #fff;

}

body, .form-control, .btn, .input-group-text {
	font-size: 0.875rem;

}

body {
  display: -ms-flexbox;
  display: inline-table ;
  color: black;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100% !important;
  opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
.auto-margin{
  margin-top: auto !important;
}
.cover-container {
  max-width: 100%;
}
.main-container{
  max-width: 70em;
  position: relative;
}
.finx{
  position: relative;
}

/*
 * Header
 */
.navbar {
  transition: 1s;
}
.navbar{
  background: rgba(0,0,0, 0.0);
}
nav .nav-link{
  font-weight: bold;
  color: black;
}
.trun{
  color: #fff !important;
}
.nav-item a:hover, .nav-item a:focus {
  color: black !important;
}

/* Color text */
.text-red, .text-red:focus, .text-red:hover{
  color: red;
  text-decoration: none;
}
.text-black, .text-black:focus, .text-black:hover{
  color: black;
}
.text-white, .text-white:focus, .text-white:hover{
  color: white;
}

/* Background color */
  .bg-blue{         /* secondary color */
  background-color: #0202FF !important;
}
.bg-red{         /* alternative color */
  background-color: #ff0200 !important;
}
.bg-yellow, body{ /* Main color */
  background-color: #fff200 !important;
}

/*Custom border */
.no-border{
  border: 0px solid #ff0200;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
/*
  padding: 0 1.5rem;
  */

  padding: 0 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/* Footer */
.mastfoot {
  color: black;

}

/* Custom card content */
.card {
  border: 0px solid black;
  border-radius: 3px;
  margin-bottom: 5px;

}

.card-body {

}

/**
  navbar <= 300
*/
.dark-nav{
  color: white;
  background-color: rgba(0,0,0, 0.5) !important;
  transition: 1s;

}
.dark-link{
  color: white;

}
.color-yellow{
  background: #fff200;
}

/* Custom input text */
.form-control{
  border-radius: 0px;
}
.form-control:focus{

}

@media only screen and (max-width: 800px) {
    .navbar span {
        display: none;
    }
    .col-l{
      display: inline-block;
    }
    .navbar-nav .nav-link{
      padding-left: 20px;
      padding-right: 20px;
    }
    nav .navbar-brand{
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
}

/*
  OTHER
*/

.overflw{
  overflow-y: auto;
  overflow-x: auto;
  height: 400px;
}
.noScrolling{
  border: none;
}

.divBack{
  cursor: pointer;
  border: 1px solid black;
  margin: 0 auto;
  color: red;
}


/** Ajax cek tarif **/

/*Rate Calculator Section
    ------------------------------------*/
    /*Rate Calculator*/
    #search-form{
      box-sizing: border-box;
    }
    .header-rate-result{
      font-size: 22px;
    }
    label{
      display: inline-block;
    }
    .round-rate-calculate, .round-dimension-result, .round-dimension-result-even, textarea{
      border: 1px solid blue;

      padding: 5px;
    }

    .col-md-6{
      display: inline;
    }
    .search-dimension-result{
      display: inline-flex;
      position: relative;

    }
    .satuan-dimension-result-days, .satuan-dimension-result, .satuan-dimension{
      padding: 6px;
      color: #fff;
      background-color: #0202FF;
      border-radius: 0 5px 5px 0;
      width : 50px;
    }

    #rcorners-calculate-result{
      display: none;
    }
    .dimension-rate-result{
      display: inline-block;

    }
    @media (min-width: 420px) {
      .dimension-rate-result{
        display:block;
        width: 200px;
      }
    }

    .label-time-result, .label-weight-result, .label-cost-result, .label-total-result{
      width: 200px;
      float: left;
    }
     .label-time-result, .label-weight-result, .label-cost-result, .label-total-result{
      width: 200px;
      text-align: left;
      margin-left: 20px;
    }


    .dimension-rate-result + .dimension-rate-result{
      margin-left: 15px;
    }
    @media only screen and(min-width: 420px) {
      .dimension-rate-result + .dimension-rate-result{
        margin-left: none;
      }
    }


/* Ajax trackshiping */
/*Track Shipping Section
    ------------------------------------*/
    /*Track Shipping Section*/
    .track-shipping-section {
      background: #f4f3ef   ;
    }

    .track-shipping-section:after {
      width: 100%;
      position: absolute;
    }
    .container-shipping-section{

        padding-top:30px;
        padding-bottom: 30px;
    }

    .input-track
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .track-shipping
    {
        text-align: center;
    }

    .logo-tracking
    {
        width: 60px;
    }

    .header-track
    {

        text-align: center;
        padding: 5px;
        font-size: 20px;
    }

    .background-tracking{

        position: relative;
        right: 0px;
        bottom: 0px;
    }

    .subheader-track
    {
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }

    .searching-track
    {

        margin: auto;
        padding: 10px;
    }

    .form-horizontal
    {
        margin-top: 10px;
        width: inherit;
        padding: 20px;
    }
    @media (min-width: 420px) {
        .form-horizontal
        {
            margin-top: 10px;
            width: inherit;
            display: block;
            margin: auto;
            width: 350px;
             padding: 10px;
        }
    }

    .custom-wahana-timeline
    {
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 0 10px 25%;
    }

    /*rounded search tracking*/
    .round-track {
       width: 100%;
        margin: auto;
        border-radius: 25px;
        border: 2px #12479b solid;
         padding: 5px 10px 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 30px;
          outline: none;
        color: #000000;
    }

    .round-track:focus {

        margin: auto;
        border-radius: 25px;
        border: 2px #12479b solid;
        padding: 5px 10px 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 30px;
          outline: none;
        color: #000000;
    }

    .corner-track {
        position: relative;
        top: 0px;
        right: 1px;
        height: 30px;
         width: 30px;
        z-index: 10;
        border-top-right-radius: 25px;
         border-bottom-right-radius: 25px;
        float: right;
        border: none;
        background:#12479b;
          outline: none;
    }

    .corner-track:focus {
        position: relative;
        top: 0px;
        right: 1px;
        height: 30px;
        width: 30px;
        z-index: 10;
        border-top-right-radius: 25px;
         border-bottom-right-radius: 25px;
        float: right;
        border: none;
        background:#12479b;
          outline: none;
    }

    .search-track {
        display: block;
        outline: none;
        margin: auto;
        height: 30px;
        position: relative;
        align-content: center;
        color: #b4b4b4;
    }

    .search-track:focus {
       display: block;
      outline: none;
        margin: auto;
       text-align: center;
          align-content: center;
        height: 30px;
          position: relative;
        color: #000000;
    }

    .tracking-hasil
    {
        background: #ffffff;

        border-radius:12px;
    }

    .isi-tracking
    {
        background: #ffffff;
        padding-left:0px;
        padding-right: 0px;
        border-radius:12px;
    }

    .header-isi-tracking
    {
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }

    .logo-ribbon
    {
       width:20px;
       float:right;
        margin-left:10px;
    }

    .header-isi-ribbon-deliv
    {
        background: #74bc71;
        text-align: center;
        font-size: 12.5px;
        padding-top: 5px;
        color: #ffffff;
         padding-bottom: 5px;
        height: 50px;
        display: table;
        width: 100%;
    }

    .header-isi-ribbon-proses
    {
        background: #f89f3d;
        text-align: center;
        font-size: 12.5px;
        padding-top: 5px;
        color: #ffffff;
         padding-bottom: 5px;
        height: 50px;
        display: table;
        width: 100%;
    }

    .header-isi-ribbon-bt
    {
        background: #d52626;
        text-align: center;
        font-size: 12.5px;
        padding-top: 5px;
        color: #ffffff;
         padding-bottom: 5px;
        height: 50px;
        display: table;
        width: 100%;
    }

    .header-isi-ribbon-retur
    {
        background: #a69b8d;
        text-align: center;
        font-size: 12.5px;
        padding-top: 5px;
        color: #ffffff;
         padding-bottom: 5px;
        height: 50px;
        display: table;
        width: 100%;
    }

    .icon-ribbon
    {
    /*
        vertical-align:middle;
        display: table-cell;
        width: 100px;
        display: block;
        margin: auto;
    */
        display:flex;justify-content:center;align-items:center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .text-ribbon
    {
        font-size: 24px;
        float:left;
        margin-left: 10px;
    }

    .content-ribbon
    {
        vertical-align: middle;
    }

    .img-ceklis
    {
        height: 20px;
        display: block;


    }
    .isi-ribbon
    {
         font-size: 1vw;
          color: #ffffff;
        float: left;
    }

    .main-info-tracking
    {
        padding: 10px;
    }

    .font-hasil
    {
        color: #000000;
         font-size: 12.5px;
        font-weight: bolder;
        padding-right: 0px;
        text-align: left;

    }

     .font-hasil-received
    {
        color: #ffffff;
         font-size: 20px;
        font-weight: bold;
        padding-right: 10px;
    }

    .background-received
    {
       background:#12479b;
        border-radius: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 25px;
    }


    .font-hasil-header
    {
        color: #000000;
        font-size: 14px;
    }

    .timeline-hasil
    {
        overflow-y:visible;
         height: 290px;
        padding:20px;
        margin-top: 10px;
    }
    .timeline-hasil-list
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width:997px) and (min-width:420px)
    {
        .font-hasil-received
        {
            color: #ffffff;
             font-size: 14px;
            font-weight: bold;
            padding-right: 0px;
        }
        .tab-content{

        }
        .metro{
          display: contents;
        }
        .main-info-tracking{
          width: 100%;
        }
        .background-received{
          width: 100%;
          color:black;
        }
    }

    @media only screen and (max-width: 600px)
    {
      .tab-content{
        left: 0 !important;
      }
      .metro{
        color:black;
        background-color: none !important;
      }
        .font-hasil-received
        {
            color: #ffffff;
             font-size: 14px;
            font-weight: bold;
            padding-right: 0px;
            text-align: center !important;
        }

        .metro{
          display: flex;
        }
        .main-info-tracking{
          width: 100%;
        }
        .background-received{
          width: 100%;
          color:white;
        }
    }

/* Index2
*/
.index2-navbar{
  background-color: white;
}
.nav-tabs{
  background-color: white !important;
}

/* Contact us page */
tbody {
    display:block;
    height:500px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
/* Custom MAPS POSITION */
@media only screen and (max-width: 600px){
  .map-container{
    width: 100%;
  }
  .find-agent{
    height: 100%;
    width: 100%;

  }
}

/*
footer{
  position:fixed;
   width:100%;
   display: block;
   background-color: #0202ff;
}
*/

/*
Social media icons for mobile
*/

@media only screen and (max-width: 600px){
  .mbl-medsos{
    width: 40px;
    height: 40px;
  }
  .direction-label{
    font-size: 12px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .mbl-medsos{
    width: 40px;
    height: 40px;
  }
}


/*Map Section
------------------------------------*/
/*Map*/

#map {
  width: 100%;
  height: 100%;
}
.map-container{

}
.map-content{
  height: 400px;

}
.find-agent{
  height: 400px;
}
.find-representative-label{

}
ul{
  list-style: none;
}
.list-alamat
    {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        text-decoration: none;
        height: 330px;
        overflow:hidden; overflow-y:auto;
    }

    .find-agent
       {
           background: #ffffff;
           padding: 10px;
       }

       .find-agent-label
       {
           text-align: center;
             font-size: 14.5px;
       }

       .find-representative-label
       {
           text-align: center;
            font-size: 13.5px;
       }

       .list-item-alamat
       {
           padding-left: 0px;
           padding-right: 0px;
           padding-top: 10px;
          list-style: none;
       }

       .nama-tempat
       {
           font-weight: bolder;
            font-size: 12.5px;
       }
       .email-tempat
       {
            font-size: 12.5px;
       }
       .telepon-tempat
       {
            font-size: 12.5px;
       }

       .alamat-tempat
       {
            font-size: 12.5px;
       }

       .jarak-tempat
       {
            font-size: 12.5px;
           color:#12479b;
           font-weight: bold;
       }

       .directions-tempat
       {
           /*padding-top:5px;*/
           padding-bottom: 5px;
       }

       .direction-label
       {
          font-size: 12px;
           padding:3px;
           font-weight: bold;
           color: #ff0000;
           cursor: pointer;
           font-size: 12px !important;
       }

       .img-arah
       {
           padding:0px;
           width: 20px;
           float: left;
       }

@media only screen and (max-width: 600px){
  .map-container{
    width: auto;
    height: 500px;
    margin-top: 30px;
  }
  .map-content{
    height: 600px;
  }
  .list-alamat{
    height: 500px !important;
  }
}
@media only screen and (max-width: 600px){
  .bmaps{
    margin-left: 1.5rem !important;
  }
  .no-padding{
    width: 95% !important;
  }
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

@media only screen and (max-width: 600px){
  .map-container{
    width: auto;
    height: 500px;
    margin-top: 30px;
  }
}
.clip {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
@media only screen and (max-width: 800px){
  .path{
    width: 50px;
    height: 50vmin;
    margin-top: 5px;
    font-size: 50px;
  }
}
@media only screen and (max-width: 400px){
  .path h4{
    width: 200px;
    font-size: 19px;
  }
}
.path{
  position: absolute;
  width: 100vmin;
  height: 10vmin;
  background: white;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.hidden{
  display: none !important;
}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
.header-isi-tracking{
  margin-top:5px;
  display: none;
}
.header-rate-result{
  display: none;
}
.my-logo{
  background-image: url('wahana/images/Logo-WahanaRGB(transparant)-01.png')
  width: 100px;
  height: 50px;
}
.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
